<div class="about-page">
  <div class="container">
    <!--ABOUT HEAD  -->
    <div class="about-us-head">
      <h3 class="text-center text-uppercase">About US</h3>
    </div>
    <!--ABOUT HEAD END  -->

    <!--FIRST CONTENT  -->
    <div class="about-us-content1-holder">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque iusto beatae odit. Eaque, quam corporis temporibus
            magnam laboriosam sit dicta porro veniam, harum eius ut officiis qui accusantium voluptatibus veritatis.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse earum tenetur ut eum commodi atque nesciunt repellat
            soluta maiores vero.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="p in data |limitTo:6 track by $index">
          <div class="tick-content-holder">
            <p> <span><i class="fa fa-check" aria-hidden="true"></i></span> Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
        </div>
      </div>
    </div>
    <!--FIRST CONTENT END  -->

    <!--ABOUT MARKETING  -->
    <div class="about-us-marketing">
      <!--MARKETING HEAD  -->
      <div class="about-us-marketing-holder">
        <h4 class="text-center text-uppercase">
          About Manak Waste Management Pvt. Ltd.
        </h4>
      </div>
      <!--MARKETING HEAD END  -->

      <!--MARKETING CONTENT  -->
      <div class="about-us-marketing-content-holder">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <p><span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus similique sint ducimus maiores harum et sunt ad tempore, dolores officia nobis tempora officiis magnam ipsa impedit fugiat alias deleniti ratione.</span><span>Aliquam aliquid sequi eligendi voluptas corrupti veniam quia dolore, repudiandae pariatur eveniet, perferendis facere? Eius, cumque suscipit. Rem magnam labore quae voluptates? Deserunt ratione quaerat assumenda saepe delectus. Consectetur, minus.</span></p>
          </div>
        </div>
      </div>
      <!--MARKETING CONTENT END  -->
    </div>
    <!--ABOUT MARKETING END  -->

    <!--TEAM HOLDER  -->
    <div class="about-us-team-holder">
      <!--TEAM HOLDER HEAD  -->
      <div class="about-us-team-head">
        <h4 class="text-center text-uppercase">
          OUR team
        </h4>
        <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, tenetur!</p>
      </div>
      <!--TEAM HOLDER HEAD END  -->

      <!--PHOTOS DIV  -->
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
          <!--PHOTO HOLDER CARD  -->
          <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="i in data | limitTo:6 track by $index">
            <div class="about-us-photocard-holder">
              <div class="about-us-photo-card">
                <img src="img/deepika.jpg" alt="" class="img-responsive">
              </div>
            </div>
            <div class="about-us-cardname text-center">
              <p>Lorem, ipsum.</p>
              <p>Lorem, ipsum.</p>
            </div>
          </div>

          <!--PHOTO HOLDER CARD END  -->
        </div>
      </div>
      <!--PHOTOS DIV END  -->

    </div>
    <!--TEAM HOLDER END  -->
  </div>
</div>