/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Bootstrap Variables Goes Here */

@import "other/font-fix";
body {
    padding-top: 70px;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}

.m-clear{
    margin: 0px;
}

.not-visible {
  visibility: hidden;
}
.animateOnce {
    animation: splash 5s normal forwards ease-in-out;
}

.count{
    animation-iteration-count: 3
}

.border-rl{
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}
// LANDING PAGE
.landingpage{
    min-height: 200vh;
    .landinpage-section{
        margin-top: -40px;
        margin-bottom: 40px;
    }
   .greentab-holder{    
    padding: 10px;
    // background-color: #000072;
    color: #000;
    box-shadow: 5px 5px 12px #888888;
    }
    .landingpage-products,.landingpage-products-display{
        margin-top: 20px;
    }
    .product-holder{
        padding: 10px;
        margin: 5px 0px;
        box-shadow: 0px 0px 8px #e5e5e5;
        cursor: pointer;
    }
    .product-imageholder{
        width: 67px;
        height: 67px;
        margin: 5px auto;
    }
    .company-works{
       margin: 40px 0px;
    }
    .company-works-head{
        margin-bottom: 40px;
    }

    .company-works-holder{
        padding: 20px;
        box-shadow: 0px 0px 10px #e1e1e1;
        min-height: 220px;
    }
    .company-data{
        padding: 50px 0px;
        background:url(https://s3.cashify.in/cashify/web/blue-bg.png); 
    }
    .company-data-number{
        font-size: 42px;
        color: #fff;
        text-transform: capitalize
    }
    .company-data-head{
        font-size: 21px;
        color: #fff;
        text-transform: uppercase;
    }
    .company-exchange-partners{
        padding: 50px 0px;
        padding-top: 30px;
    }
    .category-list-phone,.specific-phone-holder{
        margin-top: 25px;
        padding: 15px;
        box-shadow: 5px 5px 5px #e1e1e1;
    }
    .category-image-holder,.specific-phone-imageholder{
        width: 70px;
        height: 70px;
        margin: 0 auto;
    }
    .category-mobile-content,.specific-phone-contentholder{
        text-align: center;
    }
    .category-scroll{
        overflow-y: auto;
        max-height: 320px;
    }
}

// TESTOMONIAL
.testomonial{
    .testomonial-image-holder{
        width: 39%;
        display: inline-block;
        vertical-align: top;
    }
    .testomonial-content-holder{
        width: calc(100% - 45%);
        display: inline-block;
        vertical-align: top;
        text-align: justify;
        // color: #ffffff;
    }
    .testomonial-image{
        width: 90px;
        height: 90px;
        margin: 0 auto;
        border-radius: 100%;
        overflow: hidden;
    }
    // .bg-colour-testomonial{
    //     // background-color: red;
    //     background: url(https://s3.cashify.in/cashify/web/blue-bg.png);
    // }

}
// TESTOMONIAL END

.greentab-location{
    .btn-default:focus,
    .btn-default.focus,
    .btn-default:active:hover,
    .btn-default:active.focus,
    .btn-default.active:hover,.btn-default.active:focus,.btn-default.active.focus,
    .open > .btn-default.dropdown-toggle:hover,.open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle.focus,.open > .btn-default.dropdown-toggle,
    .btn-default:active, .btn-default.active
    {
        background-color: #fff !important;
        border-color:#fff !important;
    }

    .btn-default:hover,.btn-default{
        background-color:#fff !important;
        border-color: #fff !important; 
    }
    .bootstrap-select .dropdown-toggle:focus{
        outline: solid #fff !important;
    }
}

.list-none{
    list-style: none;
}

// LANDING PAGE END