<footer>
    <div class="container">
        <div class="row">
            <!--ABOUT US  -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <ul class="list-none">
                    <!--ABOUT US HEAD  -->
                    <li>
                        <div class="foot-head text-capitalize">
                            <h4>About us</h4>
                        </div>
                    </li>
                    <!--END ABOUT US HEAD  -->

                    <!--COMPANY LOGO  -->
                    <li>
                        <div class="foot-aboutus-imageholder" style="width:90px; height:90px">
                            <img src="img/deepika.jpg" alt="company logo" class="img-responsive">
                        </div>
                    </li>
                    <!--END COMPANY LOGO  -->
                    <!--ADDRESS  -->
                    <li>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, dolor!</p>
                        <p>Beatae veritatis autem illum ducimus incidunt enim, vel necessitatibus quibusdam.</p>
                        <p>Assumenda laudantium illum aspernatur nulla ipsam, quisquam quibusdam minus neque?</p>
                        <p>Doloribus laboriosam ut consequuntur asperiores rerum minima tenetur id reprehenderit.</p>
                        <p>Natus cum molestias sint tenetur, voluptas quos ipsum optio quod!</p>
                    </li>
                    <!--END ADDRESS  -->
                </ul>
            </div>
            <!--ABOUT US END  -->

            <!--COMPANY  -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <ul class="list-none">
                    <li>
                        <!--COMPANY HEAD  -->
                        <div class="foot-head">
                            <h5>COMPANY</h5>
                        </div>
                        <!--COMPANY HEAD END  -->
                    </li>
                    <li>
                        <p><a href="">Lorem.</a></p>
                        <p><a href="">Dolore!</a></p>
                        <p><a href="">Soluta.</a></p>
                        <p><a href="">Et!</a></p>
                        <p><a href="">Tenetur.</a></p>
                    </li>
                </ul>
            </div>
            <!--COMPANY END  -->

            <!--HELP  -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <ul class="list-none">
                    <!--HELP HEAD  -->
                    <li>
                        <div class="foot-head">
                            <h5>Help</h5>
                        </div>
                    </li>
                    <!--HELP HEAD END  -->
                    <!--CONTENT  -->
                    <li>
                        <p><a href="">Lorem.</a></p>
                        <p><a href="">Nam!</a></p>
                        <p><a href="">Tempora?</a></p>
                        <p><a href="">Enim?</a></p>
                    </li>
                    <!--CONTENT END  -->
                </ul>
            </div>
            <!--HELP END  -->
        </div>


    </div>
</footer>